.btn-tel {
    background: #1e7e34;
    color: #fff;
    padding: 20px 10px;
    margin: 0;
    font-size: 15px;
    border: none;
    width: 100%;
    margin-right: 0;
    text-transform: uppercase;
    margin-top: 28px;
    margin-bottom: 28px;
    cursor: pointer;
}

.btn-orcar {
    background: #ff4f00;
    color: #fff;
    padding: 20px 10px;
    margin: 0;
    font-size: 15px;
    border: none;
    width: 100%;
    margin-right: 0;
    text-transform: uppercase;
    margin-top: 5px;
    cursor: pointer;
}

.btn-tel-menu {
    padding: 13px;
    background: #425070;
    color: #fff;
    font-size: 17px;
    border: none;
    width: 100%;
    margin-top: 10px;
    text-transform: uppercase;
}

.btn-orcar-menu {
    padding: 20px;
    background: #f96900;
    color: #fff;
    font-size: 17px;
    border: none;
    width: 100%;
    text-transform: uppercase;
}

#modal.orcamento .modal-footer .btn-proximo {
    padding: 9px 90px;
    width: 100%;
    font-size: 14px;
    color: #fff !important;
}

#modal.orcamento .modal-footer {
    text-align: center;
    height: auto !important;
    position: sticky;
    bottom: 0;
    z-index: 2;
}


.modal-form-contato {

    min-width: 100%
}

.modal-form-contato .btn_salvar {

    margin: auto !important;
}

.form-group {
    display: flex;
    flex-wrap: wrap;
}

.modal-contato-itens > div {
    /* width: 100%; */
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
}

.modal-contato-itens div.descricao {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
    /*    margin-left: 20px; */
}

.input-group .form-control {
    height: 36px !important;
}

.file-caption {
    padding: 7px !important;
}

.btn-file {
    margin-top: 0 !important;
    padding: 5px !important;
    border-top-left-radius: .25rem !important;
    border-bottom-left-radius: .25rem !important;
}

.modal-contato-itens div.descricao {
    padding-left: 30px !important;
}

.customCheckbox {
    margin-bottom: auto !important;
    position: absolute !important;
    left: -19px;
    top: 1px;
}

.customCheckbox label:after {
    width: 12px !important;
    height: 6px !important;
}

.customCheckbox label {
    position: relative !important;
    top: -25px !important;
}

#formOrcamento h4 {
    display: block !important;
    font-weight: 600;
}

.btn-file input[type=file] {

    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.wrapper {
    width: 100%;
    max-width: 80vw;
    margin: 0 auto;

}

.content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.content section {

    -webkit-box-flex: 0;

    -ms-flex: 0 0 100%;

    flex: 0 0 100%;

    float: right;

    max-width: 100%;


}

article {

    float: left;
    width: 74%;
}

article h2 {
    margin-top: 30px;
}

article ul {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

article ul li p {
    margin-bottom: 0px;
}

aside {

    float: right;
    width: 23%;
    margin: 0 5px;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
}

aside ul {
    list-style: none;
    width: 100%;
    padding: 0;

}

.list-group-item:first-child {
    border-top: 0px !important;
    border-radius: 0px
}

article p {
    text-align: justify
}

aside div {
    width: 100%;
}

aside h2 a {
    display: block;
    padding: 5px;
    font-size: 15px;
    background: #69a3e2;
    color: #fff;
    margin-top: 26px;
    text-decoration: none;
}

aside nav {
    width: 100%;
    list-style: none;
    list-style-type: none;
    max-height: 700px;
    overflow: auto;
    border-radius: 0px;
    background-color: #fff;
}

aside li {
    margin: 0px 0;
    border-bottom: 1px solid #ddd;
}

aside li a {
    font-size: 12px;
    display: block;
    padding: 3px;
    color: #666;
    transition: all .3s linear;
    text-decoration: none;
    border-left: 2px solid #cccccc;
    text-align: left;
}

aside nav li a:hover {
    border-left: 2px solid #e67e22;
    background-color: #d1d1d1;
    text-decoration: none;
    color: #000;
}

aside h3 {
    color: #212529;
    padding: 10px 0;
    margin-bottom: 0;
    text-align: left;
    border-bottom: 3px solid #e67e22;
    width: 100%;
}

aside p {
    background: #eee;
    margin: 0;
    text-align: justify;
}

aside a {
    text-decoration: none !important;
}

aside strong {
    font-size: 16px;
    line-height: 34px;
    color: #666;
}

.overflow-y {
    overflow-y: auto;
    max-height: 95vh;
}

.gallery {

    list-style: none;
    flex-wrap: wrap;
}

.list-group-item {
    padding: .5rem .5em;
}

ul.gallery li {

    padding: 5px;
    margin: 10px;
    border: 1px solid #e3e3e3;
}


.card-text:last-child {

    color: #000;

}

.content section {

    width: 100%;
    text-align: left;
}

.content section p {
    text-align: justify
}

@media (max-width: 768px) {

    aside {
        width: 100%;
    }

    .content section {
        width: 100%;
        text-align: left;
    }

    .content section p {
        text-align: justify
    }
    .logo_footer{
    padding-bottom: 70px;
    }
    article {
        width: 100%;
    }

    .regioes ul {
        min-height: auto;
        max-height: -webkit-fill-available;
        flex-wrap: wrap;
        overflow: auto;
    }

    .regioes ul li {
        width: 100%;
    }

    .related-posting .card-body {

        padding: 10px;

        color: #000;
    }

    .btn-orcar {
        position: fixed;
        bottom: 0px;
        left: 0px;
        width: 100%;
        z-index: 999;
    }
}
